name: Staging Deploy

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::755199214013:role/jackpot-staging-cicd-role
          aws-region: us-east-2

      - name: Run deploy on Web + Worker via SSM
        run: |
          aws ssm send-command \
            --document-name "AWS-RunShellScript" \
            --targets "Key=instanceIds,Values=i-08219b6e485f830bb,i-05eb319ceb5bf1851" \
            --comment "Staging deploy (web + worker)" \
            --parameters commands="[
              \"sudo -u ubuntu /var/www/jackpot/deploy/deploy.sh\"
            ]"
